.contactMePage {
  display: flex;
  flex-flow: column;
  align-content: center;
  height: 100vh;
}

#thankfulHeader {
  text-align: center;
  margin-top: 4.5%;
}

#contactContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 1% 5% 5% 5%;
}

#containerForMessageForm {
  width: 50%;
}

#messageForm {
  display: flex;
  flex-flow: column;
}

#submitButton {
  font-weight: bold;
  width: 30%;
}

#containerForLinks {
  display: flex;
  justify-content: center;
}

#linksToExternalProfiles {
  font-size: 1.6rem;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
