.portfolioProjectsPage {
  background-color: khaki;
  display: flex;
  flex-direction: column;
}

.cardGroup {
  display: flex;
  justify-content: center;
}

.singleCard {
  width: 30%;
  margin: 4% 4% 2% 2%;
  border: 1px solid black;
}
.cardBody:hover + .cardFooter {
  display: block;
}

.cardFooter {
  display: none;
}
